/*//
// *****************************************************************************
// This program is part of MyWISE - My Wiki Inside Site Engine
//
// See LICENSE.md in the project root for license information.
// *****************************************************************************
// */
BODY {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;	
/*	font-family:Tahoma, Arial, Helvetica, sans-serif; */
/*  font-size:12px; */
	color: #010101;
	background-color:inherit;
	
}
/*//------------------------------*/
/*DIV.page-header-title {
	color: #010101;  
}*/
IMG.page-header-logo { height: 80px; }
DIV.page-header-subtitle {
	/* font-style: italic;  */
	margin-bottom: 10px; 
	font-size: 16px; 
	text-align: right;
	/* color: #010101;  */
}
/*//------------------------------*/
DIV.page-footer {
	color: white;
}
DIV.page-footer-text{
	background-color: #010101;
	color: white;
	text-align:right;
	font-size: 14px; 
	padding: 10px 40px 10px 0px;
}
