/*//
// *****************************************************************************
// This program is part of MyWISE - My Wiki Inside Site Engine
//
// See LICENSE.md in the project root for license information.
// *****************************************************************************
//*/
UL.wise-wiki-sitemap{}
LI.wise-wiki-sitemap{}
A.wise-wiki-sitemap{}
H1.wise-wiki-sitemap{}
H2.wise-wiki-sitemap{}
H3.wise-wiki-sitemap{}
H4.wise-wiki-sitemap{}
H5.wise-wiki-sitemap{}
H6.wise-wiki-sitemap{}
.wise-wiki-sitemap{font-size: 12px; font-weight: normal; margin-bottom: 0px; margin-top: 0px; padding-top: 0px; padding-bottom: 0px; }

